@import "src/index";

.features {

  margin: 15rem 0;

  @media only screen and (max-width: $bp-sm) {
    margin: 4rem 0;
  }

  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); //auto responsiveness
  grid-gap: 6rem;

  align-items: start;
}