.content {

  //using flex-box
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;*/

  //using grid
  display: grid;
  align-content: center;
  justify-items: start;


  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}